body {
    margin: 0;
    font-family: cursive;
    color: rgb(45, 45, 45);
}

#about-me h1 {
    text-align: center;
    text-transform: capitalize;
}

.about-me-content {
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
}

.about-me-box {
    border: 1px solid;
    width: 50%;
    margin-left: 5%;
}

.my-image {
    width: 40%;
}

#home {
    text-align: center;
    height: 500px;
}

#home h1 {
    font-style: italic;
    padding-top: 125px;
    font-size: 500%;
    text-transform: capitalize;
}

#home p {
    margin-top: -40px;
    color: rgb(108, 107, 107);
}

ul.nav-bar {
    margin: 0;
    opacity: 80%;
    position: fixed;
    width: 100%;
    overflow: hidden;
    list-style: none;
    display: flex;
    background-color: rgb(185, 182, 182);
}

.nav-bar li {
    padding: 10px;
}

.nav-bar li:hover {
    background-color: rgb(153, 151, 151);
}

.nav-bar a {
    color: rgb(55, 54, 54);
    text-decoration: none;
    white-space: nowrap;
    text-transform: capitalize;
}
